<div class="commentTeaser">
  <a href="{{comment.url}}">
    <h3>{{comment.title}}</h3>
  </a>
  <span class="byline">{{comment.byline}}</span>
  <p class="excerpt">
    {{comment.excerpt|safe}}
    <a href="{{comment.url}}">Continue reading</a>
  </p>
</div>
