<header class="headerExternal {{ header_theme|default:'-dark' }} {% if search_route %}-onSearchRoute{% endif %}">
    <div class="headerExternalDefault">
        <div class="headerExternalSite">
          {% if project %}
          <a href="/" class="headerExternalSiteLogo">
            <span>{{project.title}}</span>
          </a>
          {% else %}
            <a href="/" class="headerExternalSiteLogo">
              <span>New Alexandria</span>
            </a>
          {% endif %}
        </div>
        <ul class="headerExternalNav">
            {% if project %}
              <li class=""><a href="/texts/">Texts</a></li>
              <li class=""><a href="/about/">About</a></li>
            {% else %}
              <li class=""><a href="/texts/all">Texts</a></li>
              <li class=""><a href="/commentaries/">Commentaries</a></li>
            {% endif %}
            {% if user.is_authenticated %}
              <li tabindex="0">
                <a class="alexandriaButton" tabindex="-1" role="menuitem" href="/texts/all/">
                  Add Text
                </a>
              </li>
            {% endif %}
            <li>
                <button class="MuiButtonBase-root-7 MuiIconButton-root-1 headerExternalButton headerMenuToggleButton" tabindex="0" type="button" aria-owns="menu-list-grow" aria-haspopup="true">
                  <span class="MuiIconButton-label-6">
                    <svg class="MuiSvgIcon-root-10" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation"><path fill="none" d="M0 0h24v24H0z"></path><path d="M6 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm12 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-6 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"></path></svg>
                  </span>
                  <span class="MuiTouchRipple-root-81"></span>
                  {% include 'partials/header_menu.twig' %}
                </button>
            </li>
            <li>
              <button class="headerExternalButton headerExternalButtonSearch" type="button">
                  <svg class="jss10" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation">
                      <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
                      <path fill="none" d="M0 0h24v24H0z"></path>
                  </svg>
              </button>
            </li>
        </ul>
    </div>
    <div class="headerExternalSearch {% if not search_route %}-hidden{% endif %}">
        <div class="headerExternalSearchContent">
            <button id="header_external_search_back">
                <svg class="MuiSvgIcon-root-10" focusable="false" viewBox="0 0 24 24" aria-hidden="true" role="presentation">
                    <path fill="none" d="M0 0h24v24H0z"></path>
                    <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"></path>
                </svg>
            </button>
            <form id="search_form" >
              <input id="header_external_search" type="search" placeholder="Search" value="{{ request.GET.s }}">
            </form>
        </div>
        <div class="headerExternalSearchBackground"></div>
    </div>
</header>
