{% load card_helpers %}
{% load unidecode_slugify %}

<div class="horizontalList {% if people_list %}-peopleList{% endif %} {% if show_all %}-showAll{% endif %}">
  {% include 'partials/list_info.twig' %}
  <div class="horizontalListItems">
    {% for item in items %}

    <div class="CollectionCard horizontalListItem {% if item.thumbnail %}-withMedia{% endif %}">
        {% if item.thumbnail %}
          <a href="/items/{{item.id}}/{{item.title|unidecode_slugify}}" alt="{{item.title}}" class="CollectionThumbnailOuter">
            <div class="CollectionThumbnail" style="background-image: url(&quot;{{item.files | first_image_file_url}}&quot;);"></div>
          </a>
        {% endif %}
        <div class="CollectionCardInner">
          <a href="{{item.url}}" >
            <p class="MuiTypography-root-26 MuiTypography-body1-35 CollectionCardTitle">
              {{item.title}}
            </p>
            <span class="MuiTypography-root-26 MuiTypography-caption-36 CollectionCardDescription">
              {{item.byline}}
            </span>
            <p class="excerpt">
              {{item.excerpt|safe}}
            </p>
          </a>
        </div>
      </div>
    {% empty %}
      <div class="CollectionCard horizontalListItem {% if item.thumbnail %}-withMedia{% endif %}">
        <div class="CollectionCardInner">
          <p class="excerpt">
            {{no_results|default:"No results."}}
          </p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
