{% extends "base.twig" %}

{% block content %}
  {% include "partials/header.twig" %}

  <div class="archive">
    <div class="itemHeader">
      <h1>
        Commenters
      </h1>
      <span>{{commenters|length}} Commenters</span>
    </div>
    <section>
      <div class="commenterList">
        {% for commenter in commenters %}
          <div class="commenterItem">
              <a href="/commenters/{{commenter.username}}">
                  <div class="CollectionThumbnail" style="background-image: url(&quot;{{aws_url}}{{commenter.picture}}&quot;);"></div>
                  <div class="CollectionCardInner">
                      <p class="MuiTypography-root-26 MuiTypography-body1-35 CollectionCardTitle">{{commenter.first_name}} {{commenter.last_name}}</p>
                  </div>
              </a>
          </div>
        {% endfor %}
      </div>
    </section>
  </div>
  {% include "partials/footer.twig" %}
{% endblock %}
